<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<div class="header">
    <div class="logo"></div>
  </div>
  
  <div class="container">
  
    <div class="cardy">
      
      <div class="itemImg" id="img01">&nbsp;</div>
      
    </div>
  
    <div class="cardy">
      
      <div class="itemImg" id="img02">&nbsp;</div>
     
      
    </div>
  
    <div class="cardy">
       
      <div class="itemImg" id="img03">&nbsp;</div>
     
     
    </div>
  
    <div class="cardy">
     
      <div class="itemImg" id="img04">&nbsp;</div>
      
      
    </div>
  
    <div class="cardy">
     
      <div class="itemImg" id="img05">&nbsp;</div>
     
 
      
    </div>
  
    <div class="cardy">
      
      <div class="itemImg" id="img06">&nbsp;</div>
    
      
    </div>
    <div class="cardy">
       
      <div class="itemImg" id="img07">&nbsp;</div>
     
     
    </div>
    
  </div>
  </html>