html {
  font-family: 'Poppins', sans-serif;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(#FC589D, #FC5858);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
  font-family: 'Poppins', sans-serif;
  
}
h2 {
  text-shadow: 1px 1px 1px black;
}

.class {
  box-shadow: 1px 1px 1.5px black;
  border-radius: 30px;
}
.container {
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 40px;
}

.container a {
  text-decoration: none;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 1em;
  width: 60px;
  height: 30px;
  color: #ffffff;
  
}

.App-link {
  color: #61dafb;
}
.itemImg {
  width: 300px;
  height: 250px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px auto 15px;
}

#img1 {
  background-image: url("https://i.imgur.com/LfNNzXK.png");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
